Thumbs.db
Desktop.ini
.DS_Store

~$*
~*\n
Icon?
.Spotlight-V100
.Trashes
.TemporaryItems
.fseventsd

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
*.code-workspace
.vs/
.github/
.antigravitycli


dist/
build/
out/
coverage/
*.log

/.idea/
*.sublime-workspace
*.sublime-project

.gradle/
/target/

.env
.env.local
.env.*.local

*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.mp3
*.mp4
*.avi

~*.lnk

!.gitignore
