# Backend
fastapi
uvicorn[standard]
supabase
python-multipart
pydantic
bcrypt
python-jose[cryptography]
authlib
starlette
itsdangerous
routers
uuid
aiofiles
base64
convertapi

# Frontend
flet
flet_desktop 
flet-audio
flet-webview
pymupdf
fpdf2

# Shared
httpx
