# Backend
fastapi
uvicorn[standard]
supabase
python-multipart
pydantic
bcrypt
python-jose[cryptography]
authlib
starlette
itsdangerous
routers
uuid

# Frontend
flet
flet_desktop 
flet-audio
flet-webview

# Shared
httpx
